# Importando base de dados

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/tips.csv')

In [5]:
dados.sample(5)

     total_bill  tip dessert   day    time  size
210       30.06  2.0     Yes   Sat  Dinner     3
156       48.17  5.0      No   Sun  Dinner     6
141       34.30  6.7      No  Thur   Lunch     6
230       24.01  2.0     Yes   Sat  Dinner     4
212       48.33  9.0      No   Sat  Dinner     4

# Tradução

In [6]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [10]:
renomear = {
    'total_bill' : 'valor_da_conta', 
    'tip' : 'gorjeta', 
    'dessert' : 'sobremesa', 
    'day' : 'dia_da_semana', 
    'time' : 'hora_do_dia', 
    'size' : 'total_de_pessoas'
}
gorjetas = dados.rename(columns = renomear)

In [11]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2

In [12]:
gorjetas.sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [13]:
sim_nao = {
    'No' : 'Não', 
    'Yes' : 'Sim'
}

In [18]:
gorjetas.sobremesa.map(sim_nao)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: sobremesa, Length: 244, dtype: object

In [20]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [21]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Sun,Dinner,2

In [24]:
gorjetas.dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [25]:
dias = {'Sun' : 'Domingo', 'Sat' : 'Sábado', 'Thur' : 'Quinta', 'Fri' : 'Sexta'}

In [26]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [27]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Dinner,2

In [29]:
gorjetas.hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [30]:
hora = {'Dinner' : 'Jantar', 'Lunch': 'Almoço'}
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [31]:
gorjetas.head(1)

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Jantar,2